{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}

    <table class="table table-striped text-right">
        <tbody>
            <tr>
                <th scope="row">
                <p>{{ status.name }}</p>
                </th>
                <td>
                    <a href="{% url 'update_status' status.id %}" class="btn btn-primary">Редактировать</a>
                    <a href="{% url 'delete_status' status.id %}" class="btn btn-danger">Удалить</a>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}