{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}

<div class="card-header">
    <a href="{% url 'create_status' %}" class="btn btn-outline-primary">Добавить статус</a>
</div>
    <table class="table table-striped text-right">
        <tbody>
            <tr>
                {% for status in statuses %}
                <th scope="row">
                <a href="{% url 'status_detail' status.id %}">{{ status.name }}</a>
                </th>
                <td>
                    <a href="{% url 'update_status' status.id %}" class="btn btn-primary">Редактировать</a>
                    <a href="{% url 'delete_status' status.id %}" class="btn btn-danger">Удалить</a>
                </td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
{% endblock %}