{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}

<div class="card-header">
    <a href="{% url 'create_tag' %}" class="btn btn-primary">Добавить тег</a>
</div>
{% if tags.count %}
<table class="table table-striped text-right">
    <tbody>
        <tr>
            {% for tag in tags %}
            <th scope="row">
            <a href="{% url 'tag_detail' tag.id %}">{{ tag.name }}</a>
            </th>
            <td>
                <a href="{% url 'update_tag' tag.id %}" class="btn btn-primary">Редактировать</a>
                <a href="{% url 'delete_tag' tag.id %}" class="btn btn-danger">Удалить</a>
            </td>
        </tr>
    </tbody>
    {% endfor %}
</table>
{% else %}
<h3 class="text-center">Теги отсутствуют</h3>
{% endif %}
{% endblock %}