{% extends "base.html" %}

{% block content %}

<div class="row">
<div class="col-md-6 text-left">
<h1>{{ task.name }}</h1>
</div>
  <div class="col-md-6 text-right">
                    <a href="{% url 'update_task' task.id %}" class="btn btn-primary">Редактировать</a>
                    <a href="{% url 'delete_task' task.id %}" class="btn btn-danger">Удалить</a>
  </div>
</div>
<div class="card text-black mb-3">
  <div class="card-header">
    <div class="row">
      <div class="col-md-6">
        <div class="text-left">
          <b>Статус: {{ task.status }}</b><br>
          <b>Создал: {{ task.creator }}</b><br>
          <b>Исполнитель: {{ task.assigned_to }}</b><br>
          {% for tag in task.tags.all %}
          <span class="badge badge-dark">{{tag}}</span>
          {% endfor %}
        </div>
      </div>
    <div class="col-md-6">
  </div>
  <div class="card-body">
    <p class="card-text">{{task.description}}</p>
  </div>
</div>

{% endblock %}