{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}


{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Добро пожаловать в менеджер задач</h1>
  <p class="lead"></p>


</div>

<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Создавай</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          <li>Опиши задачу</li>
          <li>Укажи статус</li>
          <li>Назначь исполнителя</li>
          <li>Прикрепи теги для быстрого поиска</li>
        </ul>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Просматривай</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          <li>Выводи список задач</li>
          <li>Пользуйся фильтром для поиска</li>
          <li>Выводи детальный отчет по конкретной задаче</li>
        </ul>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Управляй</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          <li>Редактируй содержимое задачи</li>
          <li>Меняй статусы</li>
          <li>Настраивай теги</li>
          <li>Удаляй задачи</li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}